<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>

<body>
    <%-include("./partials/nav.ejs")%>
    <h4 class="id">
       First name: <%=results.firstName%>
        
    </h4>
    <h3 class="last">
    Last Name: <%=results.lastName%>
    </h3>

    <h4 class="title">
     Pays of origin:<%=results.nationalite%>
    </h4>
    <h4 class="title">
     Number of books writing: <%=results.nombrebookss%>
    </h4>
    
   
    
</body>

</html>