<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>

<body>
    <%-include("./partials/nav.ejs")%>
    <h4 class="id">
       Book Title: <%=result.title%>
        
    </h4>
    <h3 class="last">
    <a href="/author/<%=result.author %>">Author Name: <%=result.author%></a>
    </h3>

    <h4 class="title">
     Pages Number:<%=result.pages%>
    </h4>
    <h4 class="title">
     Genre: <%=result.genres%>
    </h4>
    <h4 class="title">
  Date Published:<%=result.published%>
    </h4>
    <h4 class="title">
   Rating: <%=result.rating%>
    </h4>
    <h4 class="title">
    Words Count: <%=result.words%>
    </h4>

    <h4 class="title">
   Book Language: <%=result.language%>
    </h4>
    
</body>

</html>