<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/nav.ejs")%>
      <div class="employee-content">
        <h2>List of All Books</h2>
        <% if (result.length>0){%>
          <% result.forEach(e =>{ %>
            <a  class="single" href="/Book/<%=e.id %>">
            <h3 class="last"><%=e.title%> by <%=e.author%></h3>
            <h4 class="title">Published:<%=e.published%></h4>
          </a>
            <%})%>
       <% } else {%>
        <p>File empty</p>
        <%}%>

      </div>
      
</body>
<%-include("./partials/footer.ejs")%>
</html>