<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/nav.ejs")%>
      <div class="employee-content">
        <h2>Customers Reviews</h2>
        <% if (result.length>0){%>
          <% result.forEach(e =>{ %>
             
            <h3>Book title: <%=e.bookTitle%> </h3>
            <h3> Review by: <%=e.Name%></h3>

            <h4 style="color: crimson;"> Reviews Content:<%=e.reviews%></h4>
          
            <%})%>
       <% } else {%>
        <p>File empty</p>
        <%}%>

      </div>


      <a href="" class="edit" data ="">Add Reviews</a>
    
   

    <!-- <script>
        
        const delet=document.querySelector('a.delete');
        const update=document.querySelector('a.edit');
        console.log(delet);
        delet.addEventListener('click',(e)=>{
            event.preventDefault()
            const id = delet.getAttribute('data');
            console.log(`id is ${id}`);
            base=`/president/${id}`
            fetch(base, {
                method:'delete'
            }).then((result)=>{
                console.log('file delete');
                
            }).catch(Error=>{
                console.log(Error);
            })
                window.location.href='http://localhost:3000'
            
        })

        update.addEventListener('click',(e)=>{
            event.preventDefault()
            const id = update.getAttribute('data');

            window.location.href='http://localhost:3000////'
            
        })
        
    </script> -->
      
</body>
<%-include("./partials/footer.ejs")%>
</html>